@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.doc-btn{
  background-color: #0692B4;
  color:#fff;
  font-weight: 600;
  padding: 15px 40px;
  border-radius: 10px;
  transition: 0.3s all ease-in-out;

}
.doc-btn:hover{
  background-color: #00A187;
}

